.new_dishes {
    // display: flex;
    // align-items: center;
    margin: 20px;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    box-shadow:0 0 8px #0000005c;
    // height: 180px;
    >img {
        display: block;
        width: 100%;
        height:  180px;
        object-fit: cover;
        // border-radius: 0px 20px 20px 0 ;
    }
    .new_dishes_details {
        width: 100%;
        padding: 20px;
        padding-top: 5px;
        p {
            &:first-of-type {
                font-size: 14px;
                line-height: 24px;
            }
        }
        button { 
            width: 100%;
            height: 35px;
            margin-top: 5px;
            border: none;
            background-color: #3aaa35;
            color: #fff;
            border-radius: 5px;
            font-size: 18px;
        }
        form  {
            label {
                margin-left: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 5px;
                font-weight: 600;
                input {
                    width: 15px;
                    height: 15px;
                }
            }

        }
    }
}